<ion-header class="ion-no-border">
    <ion-toolbar color="azul">
        <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/tab1"></ion-back-button>
    </ion-buttons> -->
        <ion-title class="titulo">Perfil</ion-title>

        <!-- <ion-buttons slot="secondary">
      <ion-button (click)="agregarCategoria()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    </ion-toolbar>
</ion-header>

<ion-content color="azul">

    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-content>
            <ion-title class="nombre" color="verde">{{usuario.nombre}} {{usuario.apellido}}</ion-title>
            <ion-title class="email"> {{usuario.email}}</ion-title>
            <ion-title class="saldo"> Tu Saldo ${{usuario.saldo}}</ion-title>
        </ion-card-content>
    </ion-card>




    <ion-list class="ion-no-padding">
        <ion-item-sliding>
            <ion-item (click)="categorias()" color="azul">
                <ion-icon name="pricetags-outline" slot="start"></ion-icon>
                <ion-label>Categorías</ion-label>
            </ion-item>
        </ion-item-sliding>
        <ion-item-sliding color="light">
            <ion-item color="azul">
                <ion-icon name="keypad-outline" slot="start"></ion-icon>
                <ion-label>Cambiar Contraseña</ion-label>
            </ion-item>
        </ion-item-sliding>
        <ion-item-sliding color="light">
            <ion-item (click)="logout()" menuClose="left" color="azul">
                <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
                <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

    <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>